.center-container {
  position: relative;
}

ion-avatar {
  position: relative;
}

.edit-icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: white;
  border-radius: 50%;
  padding: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-icon ion-icon {
  font-size: 20px;
  color: #7b00ff;
}
.action-sheet-button {
  font-size: 10px;
  padding: 10px 10px;
  color: #3880ff;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin: 2px 0;
}

#email, #imc{
  color: #a39f9f !important;
}
