<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="center-container ion-padding-bottom">
      <ion-avatar>
        <img [src]="avatarUrl || '/assets/avatar.jpg'" alt="Avatar" />
        <div class="edit-icon" (click)="presentActionSheet()">
          <ion-icon name="pencil"></ion-icon>
        </div>
      </ion-avatar>
    </div>

    <ion-input label="Nombre" label-placement="floating" placeholder="Juan" formControlName="nombre"></ion-input>
    <ion-input type="number" label="Estatura (en cm)" label-placement="floating" formControlName="estatura"></ion-input>
    <ion-input type="number" label="Peso (en kg)" label-placement="floating" formControlName="peso"></ion-input>
    <ion-input label="IMC" label-placement="floating" id="imc" [readonly]="true" value="{{imc}}"></ion-input>
    <ion-input label="Email" label-placement="floating" formControlName="email" id="email" [readonly]="true"></ion-input>

    <div class="center-container ion-padding-top">
      <ion-button [disabled]="!profileForm.valid" type="submit" shape="round">Actualizar</ion-button>
    </div>
  </form>
</ion-content>
