.center-container {
  position: relative;
}

ion-avatar {
  position: relative;
}

.edit-icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: white;
  border-radius: 50%;
  padding: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-icon ion-icon {
  font-size: 20px;
  color: #7b00ff;
}
.action-sheet-button {
  font-size: 10px; // Cambia el tamaño de la fuente
  padding: 10px 10px; // Cambia el padding
  color: #3880ff; // Cambia el color del texto
  background-color: #f0f0f0; // Cambia el color de fondo
  border-radius: 5px; // Cambia el radio de los bordes
  margin: 2px 0; // Añade un margen entre botones
}
