ion-card {
  --ion-background-color: var(--ion-color-primary-tint);
  --color: var(--ion-color-light-tint);


}

ion-card-title {
  --color: var(--ion-color-success-tint);
}

ion-icon{
  color: var(--ion-color-light-tint);
}

ion-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
